@import "tailwindcss";

@font-face {
  font-family: "Rubik";
  src: url("../src/assets/fonts/Rubik-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("../src/assets/fonts/Rubik-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@theme {
  --color-fusion: #fd633d;
  --color-fusion-dark: #e05836;
  --color-card: #f6f6f6;
  --color-sidebar: #f8f8fb;
  --color-black: #000000;
  --color-btn-green: #67cb65;
  --color-btn-blue: #d9e5f9;
  --color-btn-red: #e74444;
  --font-rubik: Rubik, "sans-serif";
}
